<table>
	<thead>
		<tr>
		 <th>Department</th>
		 <th>Course</th>
		</tr>
	</thead>
	<tbody>
    <tr>
    	<td><%= @assigning.department.name%></td>
    	<td><%= @assigning.course.name%></td>
    </tr>	
	</tbody>
<a href="javascript:history.back()">BACK</a>