<h2>Dash board</h2>

<%= link_to 'Campus',  new_campuse_path %>
<%= link_to 'Course', new_course_path %>
<%= link_to 'Department', new_department_path %>
<%= link_to 'Assign', new_assigning_path %>


